.pill {
	display: inline-block;
	background-color: gray;
	color: lightgray;
	border-radius: 5px;
	font-size: 0.75rem;
	padding: 5px;
}

.remove {
	font-size: 0.75rem;
	display: inline-block;
	float: right;
	margin-left: 0.5rem;
	cursor: pointer;
}

.remove:hover {
	background-color: red;
}
