.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu li {
	display: inline-block;
	margin-right: 1rem;
	cursor: pointer;
	padding: 1rem;
	background-color: #dedede;
}

.menu li:last-child {
	margin-right: inherit;
}

li.active {
	background-color: #8a8a8a;
	color: white;
	font-weight: bold;
}
